@font-face {
    font-family: 'misaki_mincho'; 
    src: url('../templates/fonts/misaki_gothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url("../illustration/school.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "misaki_gothic", sans-serif;
}