#animation-container {
    position: relative;
    width: 100%;
    height: 600px; /* 必要に応じて高さを変更 */
}

/* 既存のスタイル */
@font-face {
    font-family: 'PixelMplus12-Regular';
    src: url('../fonts/PixelMplus12-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../illustration/stage5.jpg");
    font-family: "PixelMplus12-Regular", sans-serif;
}

#spy {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 200px;
    transition: transform 0.1s linear;
}

#prologue-container {
    position: absolute;
    bottom: 50px;
    left: 20px;
    transform: none;
    text-align: left; 
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px; 
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 70%;
    max-width: 600px; 
    outline: 2px solid #d3d3d3;
    outline-offset: -5px;
}


button {
    font-family: 'PixelMplus12-Regular', sans-serif;
    padding: 5px 10px;
    font-size: 1.8em;
    background-color: #252825;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 0 4px black;
    border-radius: 0;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 250px;
    margin: 10px;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}


