#animation-container {
    position: relative;
    width: 100%;
    height: 600px; /* 必要に応じて高さを変更 */
}

/* 既存のスタイル */
@font-face {
    font-family: 'PixelMplus12-Regular';
    src: url('../fonts/PixelMplus12-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url("../illustration/stage2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "PixelMplus12-Regular", sans-serif;
}

#spy {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 200px;
    transition: transform 0.1s linear;
}

#prologue-container {
    position: absolute;
    bottom: 50px;
    left: 20px;
    transform: none;
    text-align: left; 
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px; 
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 70%;
    max-width: 600px; 
    outline: 2px solid #d3d3d3;
    outline-offset: -5px;
}


button {
    font-family: 'PixelMplus12-Regular', sans-serif;
    padding: 5px 10px;
    font-size: 1.8em;
    background-color: #252825;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 0 4px black;
    border-radius: 0;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 250px;
    margin: 10px;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

#animation-container.stage2 {
    width: 100%;
    height: 500px; /* コンテナの高さを調整,キャラの高さ調整 */
    overflow: hidden;
    position: relative;
    padding-bottom: 150px; /* さらに余白を増やす */
}

#spy_kounai {
    position: absolute;
    width: 200px; /* キャラクターの幅 */
    height: auto; /* アスペクト比を維持 */
    right: 0; /* 右端から開始 */
    bottom: -120px; /* さらに位置を下げる */
    animation: walk-jump 5s ease-in-out 1; /* アニメーションを1回だけ実行 */
    animation-fill-mode: forwards; /* アニメーション終了後の状態を維持 */
}

@keyframes walk-jump {
    0% {
        right: 0; /* 初期位置を右端に設定 */
        bottom: -60px; /* 初期位置を下げる */
    }

    100% {
        right: 50%; /* 画面中央付近に移動 */
        bottom: -60px; /* 最終位置も同じ高さに */
    }
}
