#animation-container {
    position: relative;
    width: 100%;
    height: 600px; /* 必要に応じて高さを変更 */
}

/* 既存のスタイル */
@font-face {
    font-family: 'PixelMplus12-Regular';
    src: url('../fonts/PixelMplus12-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url("../illustration/pc-room.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "PixelMplus12-Regular", sans-serif;
}

#spy {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 200px;
    transition: transform 0.1s linear;
}

#prologue-container {
    position: absolute;
    bottom: 50px;
    left: 20px;
    transform: none;
    text-align: left; 
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px; 
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 70%;
    max-width: 600px; 
    outline: 2px solid #d3d3d3;
    outline-offset: -5px;
}


button {
    font-family: 'PixelMplus12-Regular', sans-serif;
    padding: 5px 10px;
    font-size: 1.8em;
    background-color: #252825;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 0 4px black;
    border-radius: 0;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 250px;
    margin: 10px;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

#animation-container.stage1 {
    width: 100%;
    height: 520px; /* コンテナの高さを大きく設定(ここでキャラの位置を調整) */
    overflow: hidden;
    position: relative;
}

#spy_kounai {
    position: absolute;
    width: 200px; /* 画像の幅を大きく調整 */
    height: auto; /* アスペクト比を保つ */
    bottom: 0; /* 位置を下げる */
    animation: walk-jump 5s ease-in-out 1; /* アニメーションを1回だけ実行 */
    animation-fill-mode: forwards; /* アニメーション終了後の状態を維持 */
}

@keyframes walk-jump {
    /* ジャンプ (1回目) */
    0% {
        right: 0;
        bottom: 0;
    }
    5% {
        bottom: 100px; /* ジャンプの頂点 */
    }
    10% {
        bottom: 0; /* 地面に戻る */
    }

    /* ジャンプ (2回目) */
    15% {
        bottom: 100px; /* ジャンプの頂点 */
    }
    20% {
        bottom: 0; /* 地面に戻る */
    }

    /* ジャンプ (3回目) */
    25% {
        bottom: 100px; /* ジャンプの頂点 */
    }
    30% {
        bottom: 0; /* 地面に戻る */
    }

    /* 横移動 */
    40% {
        right: 0;
        bottom: 0;
    }
    100% {
        right: 50%; /* 中央付近に移動 */
        bottom: 0;
    }
}

