body {
    font-family: sans-serif;
    background-image: url("../illustration/pc-room.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* 見出し（タイトル）のスタイル */
h1 {
    text-align: center;
    margin-top: 50px; /* 上部の余白 */
}

/* 問題文のコンテナ */
#question-container {
    background-color: rgba(211, 211, 211, 0.7); 
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* 横幅80% */
    margin: 30px auto; /* 上部に30pxの余白、左右中央に配置 */
    text-align: center; /* テキスト中央揃え */
    font-size: 1.2em; /* フォントサイズ調整 */
    box-sizing: border-box; /* パディングを含むサイズ計算 */
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
    #question-container {
        width: 90%; /* 小さい画面用に幅を90%に */
    }
}

.option-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.option-box {
    width: 45%;
    height: 50px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    padding-bottom: 20px;
}

/*マウスオーバー時の色変更*/
.option-box:hover {
    background-color: #ddd;
}

.option-box.is-correct{
    border-color: green;
    background-color: #e0ffe0;
    position: relative;
}

.option-box.is-correct::after {
    content: "〇";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: green;
}

.option-box.is-incorrect {
    border-color: red;
    background-color: #ffe0e0;
    position: relative;
}

.option-box.is-incorrect::after {
    content: "×";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: red;
}

.option-box.disabled {
    pointer-events: none;
}

/*ラジオボタンを非表示にする*/
input[type="radio"] {
    display: none;
}

.next-btn {
    align-items:end;
}