<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/styles/stage1.css">
        <title>Feedback</title>
    </head>
    <body>
        <h2>回答結果</h2>
        <div id="feedback-container">
            <p>{{ feedback }}</p>
        </div>

        <div>
            <a href="{{ url_for('start_stage1')}}">次の問題へ</a>
        </div>
    </body>
</html>