<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/styles/game_style.css">
        <title>Game Running</title>
    </head>
    <body>
        <a href="/stage1"><button>Stage1</button></a>
    <div id="animation-container">
        <img id="spy" src="{{ url_for('static', filename='illustration/spy.png') }}" alt="スパイ">
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>