<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
</head>
<body>
    
    <div class="container">
        <h2>ようこそ、{{ username }}さん！</h2>

        <form action="{{ url_for('start_game_route') }}" method="post">
            <button type="submit">▶ ゲームをはじめる</button>
        </form>
    
        <a href="{{ url_for('logout') }}">ログアウト</a>
    </div>


</body>
</html>
