<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>登録ページ</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
</head>
<body>
    
    <div class="container">
        <h2>ユーザー登録</h2>
        <form method="POST" action="/register">
            <label for="username">ユーザー名:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">パスワード:</label>

            <div class="password-input-container">
                <input type="password" id="password" name="password" required>
                <button type="button" class="toggle-password" onclick="togglePasswordVisibility()">パスワードを表示</button>
            </div>

            <button type="submit">登録</button><br><br>
        </form>
        <a href="/login">ログイン画面に戻る</a>
    </div>

    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('password');
            const toggleButton = document.querySelector('.toggle-password');
            const passwordType = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', passwordType);
            toggleButton.textContent = passwordType === 'password' ? '表示' : '非表示'; // ボタンのテキストを変更
        }
    </script>
</body>
</html>