<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ステージ選択</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/game_running.css">
</head>

<body>
    
    
    <a href="/stage1story"><button>Stage1</button></a>
    <a href="/stage2story"><button>Stage2</button></a>
    <a href="/stage3story"><button>Stage3</button></a>
    <a href="/stage4story"><button>Stage4</button></a>
    <a href="/stage5story"><button>Stage5</button></a>
    <a href="/stage6story"><button>Stage6</button></a>

</body>
</html>
