<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ステージ選択</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/game_running.css">
</head>

<body>
    <audio id="bgm" src="{{ url_for('static', filename='audio/stage-select.mp3') }}" loop autoplay></audio>
    <audio id="buttonSound" src="../static/audio/click-sound.mp3"></audio>
    
    <a href="/stage1story"><button class="stage-button">Stage1</button></a>
    <a href="/stage2story"><button class="stage-button">Stage2</button></a>
    <a href="/stage3story"><button class="stage-button">Stage3</button></a>
    <a href="/stage4story"><button class="stage-button">Stage4</button></a>
    <a href="/stage5story"><button class="stage-button">Stage5</button></a>
    
    <script>
        // 音声再生処理
        const buttonSound = document.getElementById('buttonSound');
        const buttons = document.querySelectorAll('.stage-button');
        const bgm = document.getElementById('bgm');
        bgm.volume = 0.03; // 3%の音量

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                buttonSound.currentTime = 0; // 再生位置をリセット
                buttonSound.play();
            });
        });
    </script>

</body>
</html>
