<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/stage3story.css">
    <title>stage2story</title>
</head>

<body>
    <audio id="bgm" src="../static/audio/stage1.mp3" loop></audio>
    <div id="prologue-container">
        <p id="prologue-text"></p>
    </div>

    <script>
        const prologueText = [
            "薬品のにおいがただよう部屋",
            "机には数式がびっしり書かれたメモが...。",
            "この謎を解くことが次のミッションへのカギだ！",
        ];
        
        const prologueElement = document.getElementById('prologue-text');
        const animationContainer = document.getElementById('animation-container');
        const typingSpeed = 40;

        let textIndex = 0;
        let charIndex = 0;

        // 効果音の準備
        const typingSound = new Audio("{{ url_for('static', filename='audio/story.mp3') }}");
        typingSound.volume = 0.5;
        const bgm = document.getElementById('bgm');
        const savedTime = localStorage.getItem('bgmTime') || 0;
        bgm.currentTime = parseFloat(savedTime);
        bgm.volume = 0.03;
        bgm.play();

        window.addEventListener('beforeunload', () => {
            localStorage.setItem('bgmTime', bgm.currentTime);
        });

        function playTypingSound() {
            if(typingSound.paused) {
                typingSound.currentTime = 0;
                typingSound.play();
            }
        }

        function stopTypingSound() {
            if(!typingSound.paused) {
                typingSound.pause();
                typingSound.currentTime = 0;
            }
        }
        

        // 文字を1文字ずつ表示する関数
        function typePrologue() {
            if (charIndex < prologueText[textIndex].length) {
                prologueElement.innerHTML += prologueText[textIndex].charAt(charIndex);
                charIndex++;
                
                playTypingSound();

                setTimeout(typePrologue, typingSpeed);
            } else if (textIndex < prologueText.length - 1) {

                stopTypingSound();

                // 次の行に進む
                charIndex = 0;
                textIndex++;
                prologueElement.innerHTML += "<br>"; // 改行
                setTimeout(typePrologue, typingSpeed);
            } else {

                stopTypingSound();

                // 最後の行が終了した後、自動遷移を開始
                setTimeout(() => {
                    window.location.href = "/stage3"; // 遷移先のURL
                }, 2000); 
            }
        }

        // ページ読み込み時にプロローグ開始
        window.onload = typePrologue;



    </script>

</body>
</html>